:root {
  --mantine-primary-0: #212529;
  --mantine-primary-1: #343a40;
  --mantine-primary-2: #495057;
  --mantine-primary-3: #6c757d;
  --mantine-primary-4: #adb5bd;
  --mantine-primary-5: #ced4da; /* Default primary */
  --mantine-primary-6: #dee2e6;
  --mantine-primary-7: #e9ecef;
  --mantine-primary-8: #f8f9fa;
  --mantine-primary-9: #fdfdfe;
  --mantine-color-text: var(--mantine-primary-9) !important;
}

.leftbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem; /* Adjust width as needed */
  min-height: 100vh;
  padding: 1rem 0rem;
  background-color: #3a3947;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.group-link p {
  font-size: 1.2rem;
}
