:root {
  --mantine-primary-0: #f3f3f6;
  --mantine-primary-1: #e4e4e6;
  --mantine-primary-2: #c7c6ce;
  --mantine-primary-3: #a8a6b6;
  --mantine-primary-4: #8d8ba1;
  --mantine-primary-5: #7c7a95; /* Default primary */
  --mantine-primary-6: #747190;
  --mantine-primary-7: #63607d;
  --mantine-primary-8: #575571;
  --mantine-primary-9: #4b4964;
  --mantine-color-text: var(--mantine-primary-9) !important;
}

.leftbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem; /* Adjust width as needed */
  min-height: 100vh;
  padding: 1rem 0rem;
  background-color: #3a3947;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.group-link p {
  font-size: 1.2rem;
}
