:root {
  --mantine-primary-0: #f3f3f6;
  --mantine-primary-1: #e4e4e6;
  --mantine-primary-2: #c7c6ce;
  --mantine-primary-3: #a8a6b6;
  --mantine-primary-4: #8d8ba1;
  --mantine-primary-5: #7c7a95; /* Default primary */
  --mantine-primary-6: #747190;
  --mantine-primary-7: #63607d;
  --mantine-primary-8: #575571;
  --mantine-primary-9: #4b4964;
  --mantine-color-text: var(--mantine-primary-9) !important;
}

.task-approach {
  font-size: 0.8rem;
  margin: 0;
}

.task-response {
  max-width: 800px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(0, 0, 0, 0.3);

  background-color: var(--mantine-primary-8);
}

.task-container h2 {
  font-size: large;
}

.task-container .task-description,
.task-container .task-title {
  display: none;
}

.task-approach {
  display: block;
}

* h3 {
  font-size: 1rem;
}

.gemini-response {
  margin-top: 20px;
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3);
  padding: 2.5rem;
  border-radius: 12px;
  flex-wrap: wrap;
  max-height: 500px;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.gemini-response h1 {
  font-size: 2rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.whole-gemini {
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.gemini-form {
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.gemini-input {
  flex: 1;
  max-width: 90%;
}

.gemini-loading {
  width: 70%;
  height: 200px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    var(--mantine-primary-3) 0%,
    var(--mantine-primary-6) 20%,
    var(--mantine-primary-9) 50%,
    var(--mantine-primary-6) 80%,
    var(--mantine-primary-3) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

/* Keyframes for shimmer effect */
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
