:root {
  --mantine-primary-0: #212529;
  --mantine-primary-1: #343a40;
  --mantine-primary-2: #495057;
  --mantine-primary-3: #6c757d;
  --mantine-primary-4: #adb5bd;
  --mantine-primary-5: #ced4da; /* Default primary */
  --mantine-primary-6: #dee2e6;
  --mantine-primary-7: #e9ecef;
  --mantine-primary-8: #f8f9fa;
  --mantine-primary-9: #fdfdfe;
  --mantine-color-text: var(--mantine-primary-9) !important;
}

.task-approach {
  font-size: 0.8rem;
  margin: 0;
}

.task-response {
  max-width: 800px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(0, 0, 0, 0.3);

  background-color: var(--mantine-primary-8);
}

.task-container h2 {
  font-size: large;
}

.task-container .task-description,
.task-container .task-title {
  display: none;
}

.task-approach {
  display: block;
}

* h3 {
  font-size: 1rem;
}

.gemini-response {
  margin-top: 20px;
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3);
  padding: 2.5rem;
  border-radius: 12px;
  flex-wrap: wrap;
  max-height: 500px;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.gemini-response h1 {
  font-size: 2rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.whole-gemini {
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.gemini-form {
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.gemini-input {
  flex: 1;
  max-width: 90%;
}

.gemini-loading {
  width: 70%;
  height: 200px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    var(--mantine-primary-3) 0%,
    var(--mantine-primary-6) 20%,
    var(--mantine-primary-9) 50%,
    var(--mantine-primary-6) 80%,
    var(--mantine-primary-3) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

/* Keyframes for shimmer effect */
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
