.instant-note {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-arrow-group {
  width: min(400px, 100%);
  border-radius: 2px;
  position: relative;
}

.instant-title input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 8px;
  height: 2.5rem;
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.1),
    1px 1px 5px rgba(0, 0, 0, 0.1);
}
