:root {
  --mantine-primary-0: #212529;
  --mantine-primary-1: #343a40;
  --mantine-primary-2: #495057;
  --mantine-primary-3: #6c757d;
  --mantine-primary-4: #adb5bd;
  --mantine-primary-5: #ced4da; /* Default primary */
  --mantine-primary-6: #dee2e6;
  --mantine-primary-7: #e9ecef;
  --mantine-primary-8: #f8f9fa;
  --mantine-primary-9: #fdfdfe;
  --mantine-color-text: var(--mantine-primary-2) !important;
  --bar-color: #3a3947;
}

.top-navbar {
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 6rem);
  z-index: 10000;
  background-color: var(--bar-color);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.logo-container svg {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  transition: transform 0.3s ease-in-out;
}

.theme-button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.user-ddm {
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.user-ddm:hover {
  transform: scale(1.1);
}
