:root {
  --mantine-primary-0: #212529;
  --mantine-primary-1: #343a40;
  --mantine-primary-2: #495057;
  --mantine-primary-3: #6c757d;
  --mantine-primary-4: #adb5bd;
  --mantine-primary-5: #ced4da; /* Default primary */
  --mantine-primary-6: #dee2e6;
  --mantine-primary-7: #e9ecef;
  --mantine-primary-8: #f8f9fa;
  --mantine-primary-9: #fdfdfe;

  --mantine-color-text: var(--mantine-primary-9) !important;
}

.sign-in {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  color: var(--mantine-primary-9);
}

.sign-up {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.sign-in.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sign-up.hidden {
  opacity: 0;
  transform: translate(50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.sign-up.active {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.back-arrow-container {
  position: relative;
  width: 100%;
}

.back-arrow {
  position: absolute;
  top: 0%;
  left: 10%;
}

.username-input,
.password-input {
  border-radius: 12px;
  max-width: 300px;
}

.login-ext-button {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
