:root {
  --mantine-primary-0: #f3f3f6;
  --mantine-primary-1: #e4e4e6;
  --mantine-primary-2: #c7c6ce;
  --mantine-primary-3: #a8a6b6;
  --mantine-primary-4: #8d8ba1;
  --mantine-primary-5: #7c7a95; /* Default primary */
  --mantine-primary-6: #747190;
  --mantine-primary-7: #63607d;
  --mantine-primary-8: #575571;
  --mantine-primary-9: #4b4964;
  --mantine-color-text: var(--mantine-primary-9) !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-thumb {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-track {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-corner {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-button {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-track-piece {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-track-piece:vertical {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-track-piece:horizontal {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-corner:vertical {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-corner:horizontal {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-thumb:vertical {
  background: transparent; /* Optional: just make scrollbar invisible */
}
*::-webkit-scrollbar-thumb:horizontal {
  background: transparent; /* Optional: just make scrollbar invisible */
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100dvh;
  min-width: 100vw;
  background-color: #0d1117;
  position: relative;
}

.ql-snow .ql-editor img {
  max-width: 50% !important; /* Prevents overflow */
  height: auto; /* Maintains aspect ratio */
  display: flex;
  align-self: center !important;
  /* Optional: Removes inline gaps */
  margin: 10px auto; /* Optional: Adds spacing */
  border-radius: 2px; /* Optional: Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
}

.done-toggle {
  display: none;
}

.done-icon-true {
  opacity: 1;
}

.done-icon-false {
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease;
  transform: scale(0.9);
}

.in-main-app {
  -ms-overflow-style: none; /* IE and Edge */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
  box-sizing: border-box;
  flex: 1; /* Take up the remaining space */
  overflow-y: auto; /* Allow scrolling */
}

/* Remove scrollbar in Webkit-based browsers (Chrome, Safari, Edge) */

:root {
  --input-padding-inline-start: 1rem;
}

.create-new-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

#root {
  min-width: 100%;
  min-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  position: relative;
}

.App {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  justify-content: center;
  min-width: 100dvw;
  height: 100dvh;
}

.in-app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100dvw;
  min-height: 100vh;
}

.box-leftbar {
  padding: 0;
}

.main-app.inactive {
  display: none;
}

.task-page.inactive {
  display: none;
}

.note-page.inactive {
  display: none;
}

.logo-container svg:hover {
  transform: scale(1.1);
}

.save-note-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
}

.all-notes {
  column-width: 300px; /* This is the *minimum* width of each column */
  column-gap: 16px;
  width: 100%;
}

.all-notes > * {
  break-inside: avoid;
  margin-bottom: 16px; /* for spacing between "rows" */
}

.note-whole-list {
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex: 50%;
}

.toolbar-editor {
  display: flex;
  gap: 0;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ql-formats {
  display: flex !important;
  margin: 0 !important;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.calender-page,
.main-app,
.task-page,
.note-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-top: 4rem;
  min-height: 100dvh;
  width: calc(100% - 6rem);
  margin-left: 6rem;
  overflow-y: auto;
  padding-bottom: 1rem;
  overflow-y: auto;
  background-color: var(--mantine-primary-9);
}

.add-task-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.extra-button p {
  margin-left: 12px;
}

.task-textarea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.mantine-Textarea-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-textarea textarea {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.collapse-box {
  min-height: 50%;
}

.add-extra-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-title {
  font-size: clamp(1.5rem, 3dvw, 2.5rem);
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 0.1rem;
  text-transform: uppercase !important;
}

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  position: relative;
}

.note-title-input textarea {
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.save-note-button.m_77c9d27d {
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.extra-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
}

.task-text input {
  padding: calc(1rem * 1vh);
  font-size: 1.2rem;
  font-weight: 700;
}

.task-text {
  width: 100%;
  border-radius: 0 !important;
  box-shadow: none !important ;
}

.for-floating {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-task-input::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Apply blur to background only */
  z-index: -1; /* Keep it behind the actual content */
}

.outer-task-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  z-index: 1000;
}

.add-task-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.task-input {
  width: 100%;
  min-width: 550px;
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.task-input-container {
  position: relative;
  height: clamp(60%, 200px, 95%);
  width: clamp(60%, 200px, 95%);
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.close-button {
  position: absolute;
  top: 1vh;
  right: 1vw;
  padding: 1vh;
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}

.date-picker {
  height: auto !important;
}

.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}

.create-new-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: inset 0px -2px 0 rgba(255, 255, 255, 0.5);
}

.close-button:focus {
  outline: none;
}

.close-button svg {
  width: 2vh;
  height: 2vh;
}

.submit-container {
  position: absolute;
  right: 10%;
  bottom: 0;
}

.add-task-text {
  margin-left: calc(1vw);
}

.task-add-button {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-home {
  width: 100%;
  height: 100%;
}

.inner-login-container {
  position: relative;
  min-width: clamp(200px, 70dvw, 400px);
  min-height: clamp(200px, 70dvh, 500px);
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: var(--mantine-primary-0);
}

.logo-heading svg {
  width: 24px;
  height: 24px;
}

.logo-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-method {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 12px;
}

.login-page-logo {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(135deg);
  background-color: #c9d1d9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.ball {
  position: absolute;
  width: 1%;
  height: 1%;
  border-radius: 50%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Each ball with a different path */
.ball-1 {
  animation: moveBall1 6s infinite;
}
.ball-2 {
  animation: moveBall2 8s infinite;
}
.ball-3 {
  animation: moveBall3 10s infinite;
}

.ball-4 {
  animation: moveBall1 6s infinite;
}
.ball-5 {
  animation: moveBall2 8s infinite;
}
.ball-6 {
  animation: moveBall3 10s infinite;
}

/* Keyframes for movement patterns */
@keyframes moveBall1 {
  0% {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: 90%;
  }
  50% {
    top: 90%;
    left: 90%;
  }
  75% {
    top: 90%;
    left: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes moveBall2 {
  0% {
    top: 50%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 0%;
  }
}

@keyframes moveBall3 {
  0% {
    top: 0%;
    left: 50%;
  }
  20% {
    top: 25%;
    left: 75%;
  }
  40% {
    top: 50%;
    left: 50%;
  }
  60% {
    top: 75%;
    left: 25%;
  }
  80% {
    top: 100%;
    left: 50%;
  }
  100% {
    top: 0%;
    left: 50%;
  }
}

.login-container::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  rotate: 135deg;
  transform: translate(-0%, -0%);
  background-color: #c9d1d9;
  width: 100%;
  height: 100%;
  z-index: 1; /* send it behind the main logo */
}
