:root {
  line-height: 1.5;
  font-weight: 200;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mantine-primary-0: #212529;
  --mantine-primary-1: #343a40;
  --mantine-primary-2: #495057;
  --mantine-primary-3: #6c757d;
  --mantine-primary-4: #adb5bd;
  --mantine-primary-5: #ced4da; /* Default primary */
  --mantine-primary-6: #dee2e6;
  --mantine-primary-7: #e9ecef;
  --mantine-primary-8: #f8f9fa;
  --mantine-primary-9: #fdfdfe;
  --mantine-color-text: var(--mantine-primary-9) !important;
  --bar-color: #3a3947;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--mantine-primary-4) !important;
  color: var(--mantine-primary-2) !important;
}

button:hover {
  border-color: var(--mantine-primary-0);
}

button:focus,
button:focus-visible {
  outline: none;
}
