:root {
  line-height: 1.5;
  font-weight: 200;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mantine-primary-0: #f3f3f6;
  --mantine-primary-1: #e4e4e6;
  --mantine-primary-2: #c7c6ce;
  --mantine-primary-3: #a8a6b6;
  --mantine-primary-4: #8d8ba1;
  --mantine-primary-5: #7c7a95; /* Default primary */
  --mantine-primary-6: #747190;
  --mantine-primary-7: #63607d;
  --mantine-primary-8: #575571;
  --mantine-primary-9: #4b4964;
  --mantine-color-text: var(--mantine-primary-9) !important;
  --bar-color: #3a3947;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--mantine-primary-0);
}

button:focus,
button:focus-visible {
  outline: none;
}
