:root {
  --mantine-primary-0: #f3f3f6;
  --mantine-primary-1: #e4e4e6;
  --mantine-primary-2: #c7c6ce;
  --mantine-primary-3: #a8a6b6;
  --mantine-primary-4: #8d8ba1;
  --mantine-primary-5: #7c7a95; /* Default primary */
  --mantine-primary-6: #747190;
  --mantine-primary-7: #63607d;
  --mantine-primary-8: #575571;
  --mantine-primary-9: #4b4964;
  --mantine-color-text: var(--mantine-primary-9) !important;
}

.outer-display-task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.task-whole-list {
  justify-content: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 50%;
}

.whole-task-list {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.toggle-completed-tasks:hover {
  outline: none;
}

.completed,
.incompleted,
.collapse-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.display-task {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--mantine-primary-8);
  width: 90%;
  height: auto;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.display-task:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.35);
  transform: translateX(5px);
}

.individual-task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4dvw;
  transition: height 0.3s ease-in-out;
}

.individual-task.editing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  transition: height 0.3s ease-in-out;
}

.title-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: opacity 10s ease-in-out;
}

.title-description-whole {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title-description-container.editing {
  animation: appear-edit 0.5s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

@keyframes appear-edit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-description-container textarea,
.task-title-input {
  border: none;
  resize: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  display: flex;
  font-size: small;
  padding: 1rem;
}

.title-description-container textarea::placeholder {
  font-size: small;
}

.title-description {
  width: 100%;
}

.task-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.collapse-group {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: auto;
  cursor: pointer;
}

.caret-down-icon-close {
  transition: transform 0.3s ease-in-out;
}

.caret-down-icon-open {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.toggle-checkbox {
  position: relative;
  width: auto;
  gap: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button,
.edit-button {
  width: 22px !important;
  height: 22px !important;
  padding: 0.5rem 0.5rem;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.delete-task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.manipulation-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.save-button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: appear-edit 0.3s ease-in;
}

.save-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.save-button:active {
  transform: scale(0.97);
}
.delete-icon,
.edit-icon,
.close-icon {
  position: absolute;
  transition:
    transform 0.3s ease-in-out,
    fill 0.3s ease-in-out;
  scale: 1;
}

.delete-button:hover .delete-icon {
  transform: scale(1.2);
  fill: red;
}

.edit-button:hover .edit-icon {
  fill: grey;
  stroke: grey;
}

.edit-button:hover .close-icon {
  fill: red;
  stroke: red;
}

.done-toggle-display {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--mantine-primary-4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-checkbox:hover .done-icon-false,
.done-icon.checked {
  opacity: 1;
  transform: scale(1);
}
